{% extends 'base_new.html' %}
{% load static %}


{% block content %}
<header>
<div class="container">
    <div class="page-banner">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
          <nav aria-label="Breadcrumb">
            <ul class="breadcrumb justify-content-center py-0 bg-transparent">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">About</li>
            </ul>
          </nav>
          <!--<h1 class="text-center">About Us</h1>-->
        </div>
      </div>
    </div>
  </div>
</header>

<div class="page-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3">
        <h2 class="title-section">Empowering Your Journey to Optimal Health and Personal Growth</h2>
        <div class="divider"></div>
        <p>Welcome to your personal haven for embracing health and nurturing self-growth. In this space, we bring you a wealth of insights, stories, and perspectives. Our mission is to empower you to break through barriers and soar to new heights on your journey toward optimal well-being.</p>
        <br>
        <h2 class="title-section">Meet the Author</h2>
        <p>I'm Dr. Sarah Naserian, a pharmacist and MBA professional, deeply committed to enhancing our community's well-being through healthcare and pharmacy. With years of experience in the field, I've come to understand the profound link between health and personal development. Life's challenges, in my practice, are not obstacles but opportunities for growth. Through this blog, I aim to share valuable insights, knowledge, and practical advice to help you navigate your health and wellness journey.</p>
      </div>
      <div class="col-lg-6 py-3">
        <div class="img-fluid py-3 text-center">
          <img src="{% static 'base/img/about_frame.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 py-3">
        <h2 class="title-section">Our Mission</h2>
        <div class="divider"></div>

        <p>At Pharmasage Solutions, our mission is to explore the intricate relationship between health and comprehensive well-being. We recognize that genuine wellness encompasses not only physical health but also mental and emotional vitality. Our content is tailored to offer you practical medical insights, actionable healthcare tips, and informed discussions. Our aim is to help you overcome health challenges and achieve your optimal well-being through expert pharmaceutical guidance.</p>
        <br>
        <h2 class="title-section">What We Offer</h2>
        <ol> <!-- Start ordered list here -->
          <li>Health and Wellness Tips: From fitness and nutrition to mental health and mindfulness, we provide a holistic approach to well-being, empowering you to make positive changes in your life.</li>
          <li>Self-Growth Strategies: Discover actionable strategies for personal development, setting and achieving goals, and overcoming obstacles to reach your full potential.</li>
          <li>Personal Stories: We believe that storytelling is a powerful tool for connection. Through sharing of personal experiences and triumphs, we hope to create a sense of camaraderie and remind you that you are not alone on your journey.</li>
          <li>Expert Insights: We feature interviews and contributions from experts in various fields, offering you valuable knowledge and perspectives on health, self-growth, and well-being.</li>
          <li>Community Support: Join our engaged community, where you can share your thoughts, experiences, and learn from others on their health and self-growth journeys.</li>
        </ol> <!-- End ordered list here -->
        <br>
        <h2 class="title-section">Join Us</h2>
          <p>Join us on this healthcare mission as we work diligently to overcome health barriers and reach new heights in well-being. Through the exchange of knowledge, the embrace of medical insights, and the strength of our community, we aim to foster resilience and promote a positive approach to healthcare. Together, we can build a community that thrives on pharmaceutical expertise and wellness.</p>
      </div>
    </div>
  </div>
</div>




</div>
</div>

{% endblock %}